/* Used this to figure out alignment: https://www.w3schools.com/css/css_align.asp */
header {
  position: fixed;
  background-color: grey;
  width: 110%;
  margin: -15px;
}

header p {
  margin: 20px;
  text-align: center;
  overflow: auto;
  padding: 30px 10px 20px;
  float: left;
}

header img {
  overflow: auto;
  margin: auto;
  padding: 20px 5px 10px 70px;
  float: left;
}

main img {
  margin: 15px;
}

div {
  margin: auto;
  max-width: 1000px;
}

section:last-child {
  float:left;
}

section:nth-child(2) {
  float: left;
}

footer {
  background-color: grey;
  width: 110%;
  height: 50px;
  margin: -15px;
}

